fieldset {
    max-width: 400px;
    margin: 30px;
}

input,
select,
textarea,
button {
    margin: 15px 0;
    padding: 5px;
}

textarea {
    display: block;
}

input[type="submit"],
button {
    margin: 0 20px 0 30px;
}
